html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/************ HOME PAGE  */

#home {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1602056820935-316884c035f8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80') no-repeat bottom fixed;
    background-size: cover;
}

#about {
    height: auto;
}

#contact {
    height: auto;
    background-color: #dbdbdb;
}

.opaque-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-text-container {
    margin: 0 auto;
}

.hero-text-container h1 {
    margin-top: 0;
}

.buttons a {
    margin: 2rem;
    width: 10rem;
}

.about-text {
    font-size: 2rem;
}

.about-card {
    margin: 2rem;
}

.image-cards {
    padding: 2rem;
}


