html,
body {
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.nav-logo {
    margin-left: 1.4rem;
    font-family: 'Titillium Web', sans-serif;
}

nav {
    background-color: #343A40;
}


#calibration {
    color: rgba(182, 192, 201, 0.932);
}

#mobile-demo {
    background-color: #343A40;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

#mobile-demo a {
    color: #E9ECEF;
    font-size: 1.4rem;
    margin-top: 1rem;
}

hr {
    width: 6rem;
    height: 0.1rem;
    margin-bottom: 1.4rem;
    background-color: #495057;
}

.flashes {
    text-transform: uppercase;
    font-size: 2.2rem;
}

.flashes h4 {
    margin-bottom: 2rem;
}

.collapsible-header {
    font-size: 1.2rem;
}

.collapsible-body {
    font-size: 1.2rem;
}

.chevron-icon {
    margin: auto 0;
}

.completed-cals {
    width: 100%;
}

.completed-cals span {
    width: 4rem;
    letter-spacing: 1px;
    font-size: 1rem !important;
    float: right;
}

span.badge.new:after {
    content: none !important;
}

.total-card {
    margin: 3rem;;
}

.total-card p {
    font-size: 2rem;;
}

.total-card span {
    font-size: 0.9rem;
}

#password-alert {
    color: red;
}

.btn {
    margin: 0;
}

.btn-large {
    width: 70%;
}

.btn,
.btn-small,
.btn-large {
    transition: 0.3s;
}

.btn:hover,
.btn-small:hover,
.btn-large:hover {
    transform: scale(0.95);
    filter: brightness(90%);
}

.modal .modal-close {
    margin:0 1rem 2rem;
}

.tabs {
    border-radius: 1rem;
    background-color: rgba(238, 238, 238, 0.575);
}

.tabs li a {
    color: #343A40 !important;
}

.cal-due-head {
    width: 100%;
}

.due-span {
    float: right;
    vertical-align: auto;
    background-color: #ff5947 !important;
}

.pass-fail-toggle .active {
    background-color: #cae3f8 !important;
}

.indicator {
    border-bottom: 2px solid #51a6ec !important;
}

#pass-or-fail span {
    margin: 0 2rem;
    font-size: 1.2rem;
}

/********************** MEDIA QUERIES  */

@media screen and (max-width: 600px) {

    .nav-logo {
        margin-left: 0.4rem;
    }

    .completed-cals span {
        display: none;
    }

    .btn-large {
        width: 70%;
        margin: 1rem 0;
    }
}

@media screen and (min-width: 600px) {

    .btn {
        margin: 0 2rem;
    }

}

@media screen and (max-width: 992px) {
    .total-card {
        margin: 2rem 1rem;
    }
}