html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/************ HOME PAGE  */

#home {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1602056820935-316884c035f8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80') no-repeat bottom fixed;
    background-size: cover;
}

 .opaque-cover {
     height: 100%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.3);
}

#about {
    height: 50vh;
}

#contact {
    height: 50vh;
    background-color: #dbdbdb;
}
