{% extends 'base.html' %}
{% block content %}

    <h2 class="center">Calibration Sign Off</h2>
    <hr>

    <div class="container">
        <!-- Form Structure from https://materializecss.com/text-inputs.html -->
        <div class="row card-panel">
            <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('cal_signoff', cal_due_id=cal_due._id) }}">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="tag_id" type="text" name="tag_id" class="validate" minlength="5" maxlength="12"
                            value="{{ cal_due.tag_id }}" disabled required>
                        <label for="tag_id">Instrument Tag ID:</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Dropdown Select Instrument type from https://materializecss.com/select.html -->
                    <div class="input-field col s12">
                        <input id="inst_type" type="text" name="inst_type" class="validate" value="{{ cal_due.inst_type}}"
                            disabled required>
                        <label for="inst_type">Instrument Type:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="location" type="text" name="location" class="validate" minlength="5" maxlength="80"
                            value="{{ cal_due.location }}" disabled required>
                        <label for="location">Location:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="due_date" type="text" name="due_date" class="datepicker validate"
                            value="{{ cal_due.due_date }}" disabled required>
                        <label for="due_date">Due Date:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="signoff_user" type="text" name="signoff_user" class="validate" value="session.user"
                            disabled required>
                        <label for="signoff_user">Completed by:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="signoff_date" type="text" name="signoff_date" class="validate" value="datetime.now"
                            disabled required>
                        <label for="signoff_date">Date completed:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p class="center-align" id="pass-or-fail">
                            <label>
                                <input class="with-gap" name="pass_or_fail" value="PASS" type="radio" required/>
                                <span>PASS</span>
                            </label>
                            <label>
                                <input class="with-gap" name="pass_or_fail" value="FAIL" type="radio" required/>
                                <span>FAIL</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 offset-m2 center">
                        <button type="submit" class="btn-large">Sign Off</button>
                    </div>
                    <div class="col s12 m4 center">
                        <a href="{{ url_for('get_cals_due') }}" class="btn-large red">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}