{% extends 'base.html' %}
{% block content %}

    <h2 class="center-align">Calibrations Due</h2>
    <hr>

    <div class="container">
        <div class="row card-panel">
            <form action="{{ url_for('search_cals') }}" method="POST" class="col s12">
                <div class="row center-align">
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search</label> 
                    </div>
                </div>
                <div class="row center-align">
                    <div class="col s12">
                        <button class="btn center light-blue accent-4" type="submit"><i class="fas fa-search left"></i> Search</button>
                        <a href="{{ url_for('get_cals_due') }}" class="btn red accent-2 center">Clear Search</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="cal-container" class="container">
        {% if cals_due|length > 0 %}
            <ul id="cal-list" class="collapsible popout">
                {% for cal_due in cals_due %}
                    <li class="chevron-list">
                        <div class="collapsible-header blue-grey lighten-4">
                            <i class="chevron-icon fas fa-chevron-down fa-chevron-right left"></i>
                            <p class="cal-due-head">
                                {{ cal_due.tag_id }} - Due: {{ cal_due.due_date }}
                                {% if get_date_string(cal_due.due_date) - today <= delta %}
                                    <span class="badge new due-span">DUE SOON</i></span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="collapsible-body">
                            <p>Tag Id : {{ cal_due.tag_id }}</p>
                            <p>Type : {{ cal_due.inst_type }}</p>
                            <p>Location : {{ cal_due.location }}</p>
                            <p>Due date : {{ cal_due.due_date }}</p>
                            {% if session["is_supervisor"] %}
                                <a href="{{ url_for('edit_cal', cal_due_id=cal_due._id) }}" class="btn-small light-blue accent-4">Edit Details</a>
                                <a href="#modal{{ cal_due.tag_id }}" class="modal-trigger btn-small red accent-2" >Delete</a>
                            {% else %}
                                <a href="{{ url_for('cal_signoff', cal_due_id=cal_due._id) }}" class="btn-small light-blue accent-4">Sign Off</a>
                            {% endif %}
                        </div>
                    </li>
                    
                    <!-- User Confirm Delete Modal https://materializecss.com/modals.html -->
                    <div id="modal{{ cal_due.tag_id }}" class="modal">
                        <div class="modal-content">
                            <h4 class="center-align">Are you sure you want to delete {{ cal_due.tag_id }} from the list?</h4>
                        </div>
                        <div class="center-align">
                            <a href="{{ url_for('remove_cal', cal_due_id=cal_due._id) }}"
                                class="center-align modal-close btn-small light-blue accent 4">Confirm</a>
                            <a href="#" class="center-align modal-close btn-small red accent-2">Cancel</a>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <h4 class="center-align">No results found.</h4>
        {% endif %}
    </div>

{% endblock %}