{% extends 'base.html' %}
{% block content %}

    <h2 class="center">Calibrations Due</h2>

    <div class="container">
        <ul class="collapsible popout">
            {% for cal_due in cals_due %}
            <li>
                <div class="collapsible-header blue-grey lighten-4">{{ cal_due.tag_id}} - {{ cal_due.due_date }}</div>
                <div class="collapsible-body">
                    <p>Tag Id : {{ cal_due.tag_id }}</p>
                    <p>Type : {{ cal_due.type }}</p>
                    <p>Location : {{ cal_due.location }}</p>
                    <p>Due date : {{ cal_due.due_date }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}