{% extends 'base.html' %}
{% block content %}

    <h2 class="center">Edit Calbration</h2>
    <hr>

    <div class="container">
        <!-- Form Structure from https://materializecss.com/text-inputs.html -->
        <div class="row card-panel">
            <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('edit_cal', cal_due_id=cal_due._id) }}">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="tag_id" type="text" name="tag_id" class="validate" minlength="4" maxlength="20"
                            value="{{ cal_due.tag_id }}" required>
                        <label for="tag_id">Instrument Tag ID:</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Dropdown Select Instrument type from https://materializecss.com/select.html -->
                    <div class="input-field col s12">
                        <select id="inst_type" type="text" name="inst_type" class="validate" required>
                            <optgroup label="Choose Instrument Type">
                                {% if cal_due.inst_type %}
                                    <option value="{{ cal_due.inst_type}}" aria-labelledby="inst_type" selected>{{ cal_due.inst_type }}</option>
                                {% endif %}
                                <option value="Analyser">Analyser</option>
                                <option value="Flow Transmitter">Flow Transmitter</option>
                                <option value="Level Transmitter">Level Transmitter</option>
                                <option value="Pressure Transmitter">Pressure Transmitter</option>
                                <option value="Temperature Transmitter">Temperature Transmitter</option>
                            </optgroup>
                        </select>
                        <label for="inst_type">Instrument Type:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="location" type="text" name="location" class="validate" minlength="5" maxlength="80"
                            value="{{ cal_due.location }}" required>
                        <label for="location">Location:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="due_date" type="text" name="due_date" class="datepicker validate"
                            value="{{ cal_due.due_date }}" required>
                        <label for="due_date">Due Date:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 offset-m2 center">
                        <button type="submit" class="btn-large light-blue accent-4">Update</button>
                    </div>
                    <div class="col s12 m4 center">
                        <a href="{{ url_for('get_cals_due') }}" class="btn-large red accent-2">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}