{% extends 'base.html' %}
{% block content %}


<section id="home">
    <div class="opaque-cover valign-wrapper">
        <div class="hero-text-container">
            <h1 class="white-text">Welcome to Precise Calibration</h1>
            <h2 class="white-text hide-on-small-only">Leaders in Calibration Management</h2>
            <div class="buttons center">
                <a class="waves-effect waves-light btn-large" href="#about">About</a><a
                    class="waves-effect waves-light btn-large" href=#contact>Contact</a>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <h2 class="center">About Us</h2>
    <hr>
    <div class="container">
        <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
    </div>
    <div class="row image-cards">
        <div class="col s12 m4">
            <div class="card about-card">
                <div class="card-image">
                    <img
                        src="https://images.unsplash.com/photo-1518704618243-b719e5d5f2b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80">
                    <span class="card-title">Oil and Gas</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card about-card">
                <div class="card-image">
                    <img
                        src="https://images.unsplash.com/photo-1575503802870-45de6a6217c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                    <span class="card-title">Pharmaceutical</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card about-card">
                <div class="card-image">
                    <img
                        src="https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1439&q=80">
                    <span class="card-title">Data Centres</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <h2 class="center">Contact Us</h2>
    <hr>
    <div class="container center">
        <p>Please don't hesitate to contact us with any queries about our services. Our team of experts are more than
            willing to help you on your way to stream lining your calibration management.</p>
    </div>
    <div class="row">
        <div class="col s12 m4 offset-m2">
            <div class="card-panel teal center">
                <h4>Dublin Office</h4>
                <ul>
                    <li>1 Dublin Office</li>
                    <li>Main Street</li>
                    <li>Dublin City</li>
                    <li>01 123 1234</li>
                    <li>dublinoffice@precisecalibration.ie</li>
                </ul>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-panel teal center">
                <h4>Cork Office</h4>
                <ul>
                    <li>1 Cork Office</li>
                    <li>Main Street</li>
                    <li>Cork City</li>
                    <li>021 123 1234</li>
                    <li>corkoffice@precisecalibration.ie</li>
                </ul>
            </div>
        </div>
    </div>
</section>





<footer class="page-footer center">
    <div class="container center">
        <div class="row">
            <div class="col s12 center">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></i></a>
                <a href="#"><i class="fab fa-youtube"></i></i></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="center">Copyright &copy; 2021 Precise Calibration</p>
        </div>
    </div>
</footer>

{% endblock %}