{% extends 'base.html' %}
{% block styles %}
    <!-- Local CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}" type="text/css">
{% endblock %}

{% block navbar %}
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
{% endblock %}
{% block mobile_nav %}
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
{% endblock %}

{% block content %}

    <section id="home">
        <div class="opaque-cover valign-wrapper">
            <div class="hero-text-container center">
                <h1 class="white-text">Welcome to Precise Calibration</h1>
                <p class="hero-p hide-on-small-only">Leaders in Calibration Management</p>
                <div class="buttons center">
                    <a class="waves-effect waves-light btn-large" href="#about">About</a>
                    <a class="waves-effect waves-light btn-large" href=#contact>Contact</a>
                </div>
                {% if not session["user"] %}
                    <div class="center">
                        <a href="#modal2" class="modal-trigger">Employee Log In.</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="about">
        <h2 class="center">About Us</h2>
        <hr>
        <div class="container">
            <p class="about-text center">
                Precise Calibration Ltd. are an Irish based Instrumentation Contracting company and
                since our formation we have earned a reputation for quality workmanship and service . We provide tailored
                calibration management and instrumentation solutions to clients across Oil and Gas, Medical Device,
                Pharmaceutical, Manufacturing and Data Center sectors in both Ireland and abroad.
                <br>
                <br>
                We are ISO Quality assured to the latest standard and NSAI Certified.
            </p>
        </div>
        <!-- Image Cards From https://materializecss.com/cards.html -->
        <div class="row image-cards">
            <div class="col s12 m6 l4">
                <div class="card about-card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/oilgas.jpg') }}" height="467" width="700"
                            alt="oil and gas">
                    </div>
                    <div class="card-content">
                        <h5>Oil and Gas</h5>
                        <p>We provdide services to oil refineries and offshore oil rigs prone to extreme weather conditions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card about-card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/pharma.jpg') }}" height="467" width="700"
                            alt="pharmaceutical">
                    </div>
                    <div class="card-content">
                        <h5>Pharmaceutical</h5>
                        <p>Our work is complient with GMP standards and we are currently working with some of the leaders in
                            this sector.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 offset-m3">
                <div class="card about-card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/datacentre.jpg') }}" height="467" width="700"
                            alt="data centre">
                    </div>
                    <div class="card-content">
                        <h5>Data Centers</h5>
                        <p>We deliver calibration and instrumentation services to some of the worlds largest tech companies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Cards From https://materializecss.com/cards.html -->
    <section id="contact">
        <div class="opaque-cover">
            <h2 class="center">Contact Us</h2>
            <hr>
            <div class="container center">
                <p>Please don't hesitate to contact us with any queries about our services. Our team of experts are more
                    than
                    willing to help you on your way to stream lining your calibration management.</p>
            </div>
            <div class="row contact-card-row">
                <div class="col s12 m5 offset-m1 contact-col">
                    <div class="card-panel contact-card center">
                        <h4>Dublin Office</h4>
                        <ul>
                            <li>1 Dublin Office</li>
                            <li>Main Street</li>
                            <li>Dublin City</li>
                            <li>01 123 1234</li>
                            <li>dublin@precisecalibration.ie</li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m5 contact-col">
                    <div class="card-panel contact-card center">
                        <h4>Cork HQ</h4>
                        <ul>
                            <li>1 Cork Office</li>
                            <li>Main Street</li>
                            <li>Cork City</li>
                            <li>021 123 1234</li>
                            <li>cork@precisecalibration.ie</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer from https://materializecss.com/footer.html -->
    <footer class="footer-copyright center">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <a href="https://facebook.com/" target="_blank" rel="noopener" aria-label="Facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://linkedin.com/" target="_blank" rel="noopener" aria-label="Linkedin">
                        <i class="fab fa-linkedin"></i></a>
                    <a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://youtube.com/" target="_blank" rel="noopener" aria-label="Youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
            <p class="center">Copyright &copy; 2021 Precise Calibration</p>
        </div>
    </footer>
    {% block scripts %}
        <!-- Scroll reveal CDN  -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- Local JS script  -->
        <script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
    {% endblock %}

{% endblock %}