{% extends 'base.html' %}
{% block content %}


<div id="home">
    <div class="opaque-cover"></div>
    <div class="hero-text-container">
    </div>
</div>

<div id="about">
    <h2 class="center">About Us</h2>
</div>

<div id="contact">
    <h2 class="center">Contact Us</h2>
</div>





<footer class="page-footer center">
    <div class="container center">
        <div class="row">
            <div class="col l6 s12 center">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></i></a>
                <a href="#"><i class="fab fa-youtube"></i></i></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="center">Copyright &copy; 2021 Precise Calibration</p>
        </div>
    </div>
</footer>

{% endblock %}