{% extends 'base.html' %}
{% block content %}

    <h2 class="center">New Calibration</h2>
    <hr>

    <div class="container">
        <!-- Form Structure from https://materializecss.com/text-inputs.html -->
        <div class="row card-panel">
            <form class="col s12 m10 offset-m1" method="POST" action="">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="tag_id" type="text" name="tag_id" class="validate" minlength="5" maxlength="12" required>
                        <label for="tag_id">Instrument Tag ID:</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Dropdown Select Instrument type from https://materializecss.com/select.html -->
                    <div class="input-field col s12">
                        <select id="inst_type" type="text" name="inst_type" class="validate" required>
                            <option value="" disabled selected>Choose instrument type</option>
                            <option value="Analyser">Analyser</option>
                            <option value="Flow Transmitter">Flow Transmitter</option>
                            <option value="Level Transmitter">Level Transmitter</option>
                            <option value="Pressure Transmitter">Pressure Transmitter</option>
                            <option value="Temperature Transmitter">Temperature Transmitter</option>
                        </select>
                        <label>Instrument Type:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="location" type="text" name="location" class="validate" minlength="5" maxlength="80"
                            required>
                        <label for="location">Location:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="due_date" type="text" name="due_date" class="datepicker validate" required>
                        <label for="due_date">Due Date:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 offset-m2 center">
                        <button type="submit" class="btn-large">Add Instrument</button>
                    </div>
                    <div class="col s12 m4 center">
                        <button type="submit" class="btn-large red">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}